<ion-view view-title="诗华 Mobile EPaper" ng-controller="BreakingNewsListController">
    <ion-nav-bar class="nav-bar bar-assertive">
        <ion-nav-buttons side="right">
            <a href="#/app/tabs" class="button">
                首页
            </a>
        </ion-nav-buttons>
        <ion-nav-back-button class="nav-button"></ion-nav-back-button>
    </ion-nav-bar>

    <ion-content>
                <ion-list>
                    <ion-item ng-repeat="article in news" href="#/app/news/{{article.id}}">
                        <h2>{{article.title}}</h2>
                        <p>{{article.description}}</p>
                    </ion-item>
                </ion-list>
    </ion-content>
</ion-view>