<ion-view view-title="诗华电子报" ng-controller="BreakingNewsController">
    <ion-nav-bar class="nav-bar bar-assertive">
        <ion-nav-back-button class="nav-button"></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <div class="list card">	
            <div class="item item-body">
                <h1>{{title}}</h1>
            </div>	
            
            <div class="item item-body">
                <img class="full-image" ng-src="{{imageUrl}}"></div>			
                <p class="news-description">{{description}}</p>
                <p class="to-be-continued-message">待续。。。更多新闻滚动到底部</p>
            </div>
            <div class="item item-body">
                <div id="loading-spinner" class="spinner"><ion-spinner></ion-spinner >Loading...</div>
                <ion-scroll direction="xy">		
                    <pdf-gesture ng-pdf-options="options"></pdf-gesture>
                </ion-scroll>
            </div> 
        
            <div class="item item-body">
                <p class="news-description">{{content}}</p>
                <div ng-repeat="url in imageURLs"><img class="full-image" ng-src="{{url}}"></div>
            </div>
        </div>
	</ion-content>
</ion-view>