<ion-view view-title="诗华电子报" ng-controller="BreakingNewsListController">
    <ion-nav-bar class="nav-bar bar-assertive">
        <ion-nav-back-button class="nav-button"></ion-nav-back-button>
    </ion-nav-bar>

    <ion-content>
                <ion-list>
                    <ion-item ng-repeat="article in news" ng-click="clickBreakingNews({{$index}})">
                        <h2>{{article.title}}</h2>
                        <p>{{article.description}}</p>
                    </ion-item>
                </ion-list>
    </ion-content>
</ion-view>