<ion-view view-title="诗华电子报">
    <ion-nav-bar class="bar-assertive">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
	<div style="position: relative">
		<div id="header-button-container" class="header-button-container">
			
		</div>
		<div style="position: absolute; top: 60px; z-index: -1;">
        <ion-scroll direction="xy">		
            <pdf-gesture ng-pdf-options="options"></pdf-gesture>
        <ion-scroll>
		</div>
		<div id="footer-button-container" class="footer-button-container">
		</div>
	</div>
    </ion-content>
</ion-view>