<ion-view title="诗华电子报">
    <ion-content ng-controller="MenuCtrl" style="text-align: center; background-color: #FF0000;">
	<h3 class="title" style="text-align: center; background-color: #FF0000; color: #FFFFFF;">今日诗华</h3>
      <ion-list>
        <ion-item menu-toggle="right" ng-repeat="tab in todayShTabs" ng-click="goToTodaySh(tab.categoryId)" style="text-align: center; background-color: #FF0000; color: #FFFFFF;">
          {{tab.text}}		  
        </ion-item>
      </ion-list>
    </ion-content>
</ion-view>