<ion-view title="诗华电子报">
    <ion-content style="text-align: center;" class="home-background">
        <ion-list>
            <ion-item style="height : 20vh" class="menu-item">&nbsp;</ion-item>
            <ion-item menu-toggle="right" ng-click="switchModule('app.home-epaper')" style="text-align:center" class="menu-item">
                e诗华日报
            </ion-item>
            <ion-item class="menu-item">&nbsp;</ion-item>
            <ion-item menu-toggle="right" ng-click="switchModule('app.home-todaysh')" style="text-align:center" class="menu-item">
                今日诗华
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>