<ion-view title="诗华电子报">
    <ion-nav-bar class="bar-assertive">
        <ion-nav-buttons side="left">
            <!-- Toggle left side menu -->
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <a href="#/app/breakingnewslist" class="button">
                即时新闻
            </a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <tab-slide-box tabs-position="bottom" delegate-handle=="ThumbnailTab">
            <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
                <ion-slide ng-repeat="tab in tabs">
                    <ion-content has-bouncing="true">
                        <div class="row">
                            <div class="col col-50"  ng-repeat="news2 in tab.news">
                                <a href="#/app/detail/{{tab.categoryId}}/{{news2.pageNo}}">
                                        <img class="full-image" ng-src="{{news2.thumbnailURL}}">
                                 </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-50"  ng-repeat="news2 in tab.news.slice(2)">
                                <a href="#/app/detail/{{tab.categoryId}}/{{news2.pageNo}}">
                                        <img class="full-image" ng-src="{{news2.thumbnailURL}}">
                                 </a>
                            </div>
                        </div>
                        <br/>
                        <br/>
                    </ion-content>
                </ion-slide>
            </ion-slide-box>
            <div class="tsb-icons">
                <div class="tsb-ic-wrp">
                    
                    <ion-scroll direction="x" class="tsb-hscroll">
                        <a href="javascript:;" class="{{tab.icon}}" ng-repeat="tab in tabs" on-finish-render="test()">{{tab.text}}</a>
                    </ion-scroll>
                    
                </div>
            </div>
        </tab-slide-box>
    </ion-content>
</ion-view>