<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div.thumbnail{
            float: left;
            border: 0px solid blue;
            position: relative;
        }

        img.smallone{
            vertical-align: bottom;
        }

        img.thumbnailbig{
            vertical-align: bottom;
        }

        #smallone{
            top: 0;
            right:0;
            position:absolute;
        }
    </style>
</head>

<body>
<div class="thumbnail">
    <img class="smallone" src="http://placekitten.com/30/30" id="smallone">
    <img class="thumbnailbig" src="http://placekitten.com/1000/1000">
</div>
<div class="thumbnail">
    <img class="smallone" src="http://placekitten.com/30/30" id="smallone">
    <img class="thumbnailbig" src="http://placekitten.com/1000/1000">
</div>
<div class="thumbnail">
    <img class="smallone" src="http://placekitten.com/30/30" id="smallone">
    <img class="thumbnailbig" src="http://placekitten.com/1000/1000">
</div>
</body>
</html>