<ion-view title="诗华 Mobile EPaper" ng-controller="TabsCtrl">
    <ion-nav-bar class="bar-assertive">
        <ion-nav-buttons side="left">
            <!-- Toggle left side menu -->
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <a href="#/app/breakingnewslist" class="button">
                即时新闻
            </a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content scroll="false" lazy-scroll>
        <tab-slide-box tabs-position="bottom" delegate-handle=="myTab">
            <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
                <ion-slide ng-init="loadImages(tab,'A')" ng-repeat="tab in tabs | filter: { type: 'A'}">
                    <ion-scroll direction="y">
                        <div id="tab.id" class="row" ng-repeat="image in images[tab.id] | limitTo: 3" ng-if="$even">
                            <div class="col col-200" ng-class="{thumbnail : (($index == 0 || 2) && (tab.id == 0)) || (($index == 0) && (tab.id == 1))}">
                                    <img ng-class="{smallone : (($index == 0 || 2) && (tab.id == 0)) || (($index == 0) && (tab.id == 1))}" src="../img/breakingnews.gif" width="50px" id="smallone" ng-if="tab.id == 0 || (($index == 0) && (tab.id == 1))">
                                    <a href="{{images[tab.id][$index].url}}">
                                        <img ng-class="{thumbnailbig : (($index == 0 || 2) && (tab.id == 0)) || (($index == 0) && (tab.id == 1))}" ng-src="{{images[tab.id][$index].src}}" width="100%">
                                    </a>

                                <!--<div ng-class="thumbnail : ($index == 0) && (tab.id == 0)">
                                    <img id="smallone" ng-class="smallone : ($index == 0) && (tab.id == 0)" src="../img/breakingnews.gif" width="100px" ng-if="($index == 0) && (tab.id == 0)"/>
                                    <!--<span class="overlayImage2" style="color: #ffffff">即时</span>-->
                                    <!--<img class="smallone" src="../img/breakingnews.gif" width="100px" ng-if="$index == 2 && tab.id == 0" />-->
                                    <!--<span class="overlayImage3" style="color: #ffffff">即时</span>-->
                                    <!--<p>{{images[tab.id][$index].label}}<span ng-if="$index < 3 && tab.id == 0"> Breaking! </span></p>-->
                                    <!--<a href="{{images[tab.id][$index].url}}"><img ng-class="thumbnailbig  : ($index == 0) && (tab.id == 0)" ng-src="{{images[tab.id][$index].src}}" width="100%"/></a>

                                    {{$index}}
                                </div>-->
                            </div>
                            <div class="col col-200" ng-class="{thumbnail : (($index+1 == 1 || 3) && (tab.id == 0))}">

                                    <img ng-class="{smallone : ($index+1 == 1 || 3) && (tab.id == 0)}" src="../img/breakingnews.gif" width="50px" id="smallone" ng-if="tab.id == 0">
                                    <a href="{{images[tab.id][$index+1].url}}">
                                        <img ng-class="{thumbnailbig : ($index+1 == 1 || 3) && (tab.id == 0)}" ng-src="{{images[tab.id][$index+1].src}}" width="100%">
                                    </a>

                                <!--<div ng-class="thumbnail: ($index+1 == 1) && (tab.id == 0)">
                                    <img id="smallone" ng-class="smallone : ($index+1 == 1) && (tab.id == 0)" src="../img/breakingnews.gif" width="100px" ng-if="($index+1 == 1) && (tab.id == 0)"/>
                                    <!--<span class="overlayImage2" style="color: #ffffff">即时</span>-->
                                    <!--<img class="smallone" src="../img/breakingnews.gif" width="100px" ng-if="$index == 2 && tab.id == 0" />-->
                                    <!--<span class="overlayImage3" style="color: #ffffff">即时</span>-->
                                    <!--<p>{{images[tab.id][$index].label}}<span ng-if="$index < 3 && tab.id == 0"> Breaking! </span></p>-->
                                    <!--<a href="{{images[tab.id][$index+1].url}}"><img ng-class="thumbnailbig : ($index+1 == 1) && (tab.id == 0)" ng-src="{{images[tab.id][$index+1].src}}" width="100%"/></a>

                                {{$index+1}}
                                </div>-->
                            </div>

                        </div>
                    </ion-scroll>
                </ion-slide>
                <ion-slide ng-init="loadImages(tab,'B')" ng-repeat="tab in tabs | filter: { type: 'B'}">
                    <ion-scroll direction="y">
                        <!--<h3>{{tab.description}}</h3>-->
                        <div class="row" ng-repeat="image in images[tab.id]" ng-if="$even">
                            <div class="col col-200">
                                <!--<a href="{{images[tab.id][$index].url}}"><img ng-src="{{images[tab.id][$index].src}}" width="100%"/></a>
                                <p>{{images[tab.id][$index].label}} <span ng-if="$index+1 < 3 && tab.id == 0"> Breaking! </span></p>-->
                                <div>
                                    <a href="{{images[tab.id][$index].url}}">
                                        <img ng-src="{{images[tab.id][$index].src}}" width="100%">
                                    </a>
                                </div>
                            </div>
                            <div class="col col-200">
                                <!--<a href="{{images[tab.id][$index+1].url}}"><img ng-src="{{images[tab.id][$index+1].src}}" width="100%"/></a>
                                <p>{{images[tab.id][$index+1].label}} <span ng-if="$index+1 < 3 && tab.id == 0"> Breaking! </span></p>-->
                                <div>
                                    <a href="{{images[tab.id][$index+1].url}}">
                                        <img ng-src="{{images[tab.id][$index+1].src}}" width="100%">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </ion-scroll>
                </ion-slide>
            </ion-slide-box>
            <div class="tsb-icons">
                <div class="tsb-ic-wrp">
                    <ion-scroll direction="x" class="tsb-hscroll">
                        <a href="javascript:;" class="{{tab.icon}}" ng-repeat="tab in tabs" on-finish-render="test()">{{tab.text}}</a>
                    </ion-scroll>
                </div>
            </div>
        </tab-slide-box>
    </ion-content>
</ion-view>