<ion-view view-title="诗华 Mobile EPaper" ng-controller="BreakingNewsController">
    <ion-nav-bar class="nav-bar bar-assertive">
        <ion-nav-back-button class="nav-button"></ion-nav-back-button>
    </ion-nav-bar>

    <ion-content>
        <h1>Breaking News {{id}}!</h1>
        <h3>{{title}}</h3>
        <p><img ng-src="{{imageUrl}}" width="100%"></p>
        <p>{{description}}</p>
        <div>
            <pdf-gesture ng-pdf-options="options"></pdf-gesture>
        </div>

    </ion-content>
</ion-view>