.slider-slide h3{
    color:#fff;
    margin-top:10px;
}
.scroll{
    height:100%;
}

.tabbed-slidebox .tsb-icons:after{
    display:none;
}

.sliderImgWrapper {
    position: relative;
    width: 200px;
    height: 300px;
    border: 2px solid #000000;
}
.overlay {
    position: absolute;
    top: 0px;
    right: 0px;
    border-top: 50px solid #ff0000;
    border-left: 60px solid transparent;
}

.overlay2 {
     position: absolute;
     top: 0px;
     right: 48vw;
     border-top: 50px solid #ff0000;
     border-left: 60px solid transparent;
}

.overlay3 {
    position: absolute;
    top: 60vh;
    right: 48vw;
    border-top: 50px solid #ff0000;
    border-left: 60px solid transparent;
}

.overlayImage {
    position: absolute;
    top: -45px;
    left: -35px;
}

.overlayImage2 {
    position: absolute;
    top: -45px;
    left: -35px;
}

.overlayImage3 {
    position: absolute;
    top: -50px;
    left: -35px;
}

div.thumbnail{
    float: left;
    border: 0px solid red;
    position: relative;
    width: 100%;
}

img.smallone{
    vertical-align: top;
}

img.thumbnailbig{
    vertical-align: top;
}

#smallone{
    top: 0;
    right:0;
    position:absolute;
}

div.spinner {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 85px;
  text-align: center;
}
.spinner svg {
  width: 19% !important;
  height: 85px !important;
}